<!DOCTYPE html>
<html>
  <head>
    <title>users.ejs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p><%= number %></p>
  </body>
</html>
