<!DOCTYPE html>
<html>
  <head>
    <title>users.ejs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/test" method="POST">
        <h1>users</h1>
        <p>이름 <input type="text" name="name"></p>
        <p>번호 <input type="text" name="number"></p>
        <p><input type="submit"></p>
    </form>
  </body>
</html>
